.section {
  position: relative;
  height: 2800px;
  width: 100%;
  z-index: 1;
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    max-width: 100%;
  }

  .content {
    padding-top: 4em;
    width: 80%;
    margin: 0 10%;
    .desc {
      margin-top: 40em;
      text-align: center;
      font-size: 2em;
      line-height: 1.5;
      font-family: serif, sans-serif;

      h4 {
        font-size: 1.8em;
        color: #41b1ad;
        margin-bottom: 0.1em;
      }
      h2 {
        font-size: 4em;
        font-weight: 800;
        color: #41b1ad;
        margin-bottom: 0.8em;
      }
      p {
        font-size: 1.2em;
        margin-bottom: 2em;
      }
    }
  }
}
